@charset "utf-8";
imargin:0;
padding:0;
border:0 vertical-align:baseline;
body {
	background: black;
	position: fixed;
	font-family: 'Cabin', sans-serif;
}

.container {
	background-color: white;
	font-family: 'Cabin', sans-serif;
	/*
   
*/
	width: 1200px;
	margin: auto;
}

.head {
	width: 1110px;
	height: 60px;
	background-color: #fbfbfb;
	text-align: center;
	line-height: 1px;
	border-top: 80;
	font-family: 'Fira Sans', sans-serif;
	margin-left: auto;
	margin-right: auto;
	padding-top: 20px;
}

#heada a {
	color: black;
	text-decoration: none;
	font-size: 20px;
	font-family: 'Fira Sans', sans-serif;
	margin: 16px;
	background: : #fbfbfb;
	padding: 1px;
}

#logo {
	float: center;
}

#baner {
	float: center;
}

.nav {
	background-color: #000;
	font-family: 'Cabin', sans-serif;
	position: static;
	height: 60px;
	width: auto;
	margin-left: auto;
	margin-right: auto;
}

#menu {
	line-height: 20px;
	font-family: 'Cabin', sans-serif;
	float: center;
}

#menu li {
	list-style-type: : none;
	font-size: 20px;
	padding-right: 20px;
	display: inline;
	font-family: 'Cabin', sans-serif;
}

#menu a {
	color: white;
	text-decoration: none;
	font-size: 22px;
	font-family: sans-serif;
	margin: 12px;
	background: black;
	padding: 1px;
}

#menu a:hover {
	color: skyblue;
	/*	text-decoration: underline;*/
}

.post_area {
	width: 800px;
	float: left;
	padding: 10px;
	background-color: white;
}

.post_area h3 {
	font-size: 20px;
}

.post_area img {
	padding-top: 0px;
	padding-left: 2px;
	padding-right: 50px;
	float: left;
}

.post_area p {
	margin-bottom: 10px;
}

.post_area h3 {
	padding-bottom: 10px;
	padding-top: 3px;
}

.ad {
	float: right;
	position: static;
	max-width: 230px;
	min-height: 700px;
	float: right;
	background: #fbfbfb;
	border-left: 1px solid #e2e2ea font-family: 'Cabin', sans-serif;
}

.recent_posts {
	color: black;
	text-align: center;
}

.recent_posts a {
	font-size: 16px;
	text-decoration: none;
	color: black;
}

.recent_posts a:hover {
	color: skyblue;
}

#title_ad {
	background: black;
	color: white;
	font-size: 14px;
	border-top: 1px solid #666;
}

.footer {
	float: center;
	height: 1px;
	background-color: black;
	text-align: center;
	color: aliceblue;
	padding: 3px;
	clear: both;
}

#form {
	float: right;
	line-height: 10px;
	padding-right: 5px;
}

#rmlink {
	float: right;
	background-color: white;
	color: #4e4c4c;
	padding: 2px;
	text-decoration: none;
	margin-top: 5px;
}

#ltitle {
	text-decoration: none;
	font-size: 20px;
	color: black;
	font-family: serif;
}

#ltitle a:hover {
	color: blueviolet;
}